extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Aaron Lipinski
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          div
            p
              | I have been involved in technology for 20+ years now. I started this journey back in the early 2000’s when I became an Audio Engineer through the Conservatory for Recording Arts and Sciences in Arizona. I then relocated to Seattle WA,  and became the head Engineer for Tooth and Nail records. After a few years I relocated back to California to teach at a high school in Reedley. I taught Studio recording, Video Production, Web Development and a Computer Applications class. This is where I gained some experience in Web Development.
          div
            p 
              | From there I went on to become a technician for Apple Inc where I have been for the last 10 years. Through out this time I have gained a lot of experience in Team Development, Leadership, and some more in depth understanding of Operating Systems and Hardware repair. 
          div
            p  
              | I started the Full Stack JavaScript Tech Degree program with Team Treehouse at the beginning of 2020. Through this curriculum I have gained a solid foundation of the programming language that is JavaScript. I have also taken several courses covering HTML and CSS. I love learning and plan to continue to expand my development knowledge even after the completion of this program. 
          div
            p
              | My plan is to seek employment with a team where I can grow my skills and bring my experience and wisdom. I love learning from others and helping others learn as well.  I know where ever I land I will be a valuable asset. Thank you 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express 
          li Pug
          li Git
          li Mac OS
          li Windows OS
        h6 Contact Info
        ul
          li 559-824-1406
          li Email:
            a(href='mailto:aaron.lipinski@me.com')  aaron.lipinski@me.com
        a.button.expanded(href='https://www.linkedin.com/in/aaron-lipinski-3781867b/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/alipinski15' target="_blank") GitHub
        a.button.expanded(href='/static/pdf/aaronlipinskiResume.pdf' download) Resume
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  