extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 Showcase Portfolio
      p.lead.text-light
        | Welcome to my Portfolio of Projects and Applications. This is a culmination of hard work and dedication to learning Full Stack JavaScript. My goal is to land a future position as a Web Developer in any capacity. Please enjoy and feel free to reach out to me.

  article.grid-container.portfolio-index
    h4 Published Projects
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            p= `${project.project_name}`
      
    div.line-break
        hr.hr-rule
        h4 Projects under development 
        a(href='/progress') Learn More →