
/* Main body */
body {
    background-color: #686b70;
}
/*Heading colors*/
h1,h2,h3,h4,h5,p{
    color: #f8f6f6;
  }

.text-light{
    color: #fafafa;
}
 /* Color for li & a elements on project page */
.cell.portfolio-meta.small-6.medium-2.large-3 li,a{
    color: #fdfdfd;
}

/* Removes borders around images */
.image{
    border: none;
}

/* Removes borders and add shadow to thumbnail images. */
.cell.shrink.thumbnail img{
    border: none;
    box-shadow: 3px 3px 5px rgba(187, 187, 187, 0.822);
}

.thumbnail{
    border: none;
    box-shadow: 3px 5px 5px rgba(51, 51, 51, 0.822);
}
 /* changes color and add hover state change on back buttons */
.grid-container.portfolio-breadcrumb a{
    color: #fdfdfd;
}

.grid-container.portfolio-breadcrumb a:hover{
    color: #3a3a3a;
}

/* Adds a slight shadow on link buttons. */
.button.expanded{
    box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.822);
}

/* Error page */
#error{
    margin: 20px;
}

.img{
    margin: auto;
    width:25%;
    padding: 10px;
}