
/* Main body */
body {
    background-color: #686b70;
}
/*Heading colors*/
h1,h2,h3,h4,h5,p{
    color: #f8f6f6;
  }

.text-light{
    color: #fafafa;
}

.cell.small-6.medium-9.large-9 li{
    color: white;
}

 /* Color for li & a elements on project page */
.cell.portfolio-meta.small-6.medium-2.large-3 li,a{
    color: #fdfdfd;
}

/* Removes borders around images */
.image{
    border: none;
}

/* Removes borders and add shadow to thumbnail images. */
.thumbnail{
    border: none;
    
}

.thumbnail:hover{
    border: solid 1px #f5f5f5;
    box-shadow: 3px 5px 5px rgba(51, 51, 51, 0.822);
} 
 /* changes color and add hover state change on back buttons */
.grid-container.portfolio-breadcrumb a{
    color: #fdfdfd;
}

.grid-container.portfolio-breadcrumb a:hover{
    color: #3a3a3a;
}

/* Adds a slight shadow on link buttons. */
.button.expanded{
    box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.822);
}

/* Error page */
#error{
    margin: 20px;
}

.img{
    margin: auto;
    width:25%;
    padding: 10px;
}

.hr-rule{
    border: 0.5px solid rgb(255, 255, 255);
}

.portfolio-bio p{
    text-indent: 20px;
}

.portfolio-intro p{
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.line-break a:hover{
    color: #b8b8b8;
}

.line-break h4{
    padding: 0px;
}

.progress-projects ul{
    color: white;
}
.progress-projects-gallery li{
    color: white;
}

.progress-projects-library li{
    color: white;
}

.link a{
    margin: 50px 0px 0px 20px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    font-size: 13px;
    font-weight: 600;
}

.grid-container.portfolio-index h4{
    padding: 0px 0px 20px 0px;
}

